{#<form method="POST">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <input type="submit" value="Submit">#}
{#</form>#}

{% extends 'base.html' %}
{% load static %}

{% block content %}

    <header>
      <nav class="container container--70">
        <ul class="nav--actions">
          <li><a href="http://127.0.0.1:8000/giveAway/login">Zaloguj</a></li>
          <li class="highlighted"><a href="#">Załóż konto</a></li>
        </ul>

        {% include 'nav_bar.html' %}
      </nav>
    </header>

    <section class="login-page">

      <h2>Załóż konto</h2>
        <label style="color: darkred">{{ error }}</label>

      <form method="post">{% csrf_token %}
        <div class="form-group">
          <input type="text" name="name" placeholder="Imię" />
        </div>
         <div class="form-group">
          <input type="text" name="surname" placeholder="Nazwisko" />
        </div>
        <div class="form-group">
          <input type="email" name="email" placeholder="Email" />
        </div>
        <div class="form-group">
          <input type="password" name="password1" placeholder="Hasło" />
        </div>
        <div class="form-group">
          <input type="password" name="password2" placeholder="Powtórz hasło" />
        </div>

        <div class="form-group form-group--buttons">
          <a href="http://127.0.0.1:8000/giveAway/login" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit" name="submit">Załóż konto</button>
        </div>
      </form>


    </form>
    </section>

{% endblock %}
